#############
## Windows detritus
#############
schema/
*.vbs
*.xls*

# Windows image file caches
Thumbs.db
ehthumbs.db

# Folder config file
[Dd]esktop.ini

# Excel Backup File
*.xar
*.xlk

# Recycle Bin used on file shares
~$*.doc*
~$*.xls*
$RECYCLE.BIN/
*.tmp
