#############
## Windows detritus
#############
schema/
*.do[ct][mx]
*.xl[ast][bmx]
*.vbs

# Windows image file caches
Thumbs.db
ehthumbs.db

# Folder config file
[Dd]esktop.ini

# Excel Backup File
*.bak
*.log
*.xar
*.xlk

# Recycle Bin used on file shares
~$*.doc*
~$*.xls*
$RECYCLE.BIN/
*.tmp
