####################
## Windows detritus
####################
schema/
*.do[ct][mx]
*.xl[ast][bmx]
*.vbs

# Folder config and Image file caches
[Dd]esktop.ini
*[Tt]humbs.db

# Logs and shortcuts
*.lnk
*.log

# Excel Backup File
*.asd
*.bak
*.xar
*.xlk

# Recycle Bin used on file shares
~$*.doc*
~$*.xls*
$R[Ee][Cc][Yy][Cc][Ll][Ee].B[Ii][Nn]/
*.tmp
*.zip
